<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KNQMVG7');</script>
    <!-- End Google Tag Manager -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gifable is a super-simple screen recording tool that makes Gifs for you in seconds.">
    <meta name="author" content="Gifable">
    <meta name="twitter:site" content="@gifableApp" />

    <title>Gifable - Gif Screen Recorder</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNQMVG7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="images/logo.png" width="50" height="50" alt="GIFable - Gif Screen Recorder">  GIFable</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#uses">Uses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <br><br><br><br>
                <div class="device-container" >
                  <div class="device-mockup macbook_2015">
                    <div class="device" >
                      <div class="screen" >
                        <!-- poster="/path/to/your/thumbnail/image.jpg" -->
                        <video autoplay loop muted width="100%">
                            <source src="images/Gifable_Demo.mp4" type="video/mp4" />
                            <source src="images/Gifable_Demo.webm" type="video/webm" />
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <h1 class="section-heading text-center">Record your screen as a Gif</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Show the world what you can do!</h2>
            <p>Our app is available on macOS only, Download now to get started.</p>
            <div class="badges">
              <a target="_blank" class="badge-link" href="https://apps.apple.com/app/gifable-gif-screen-recorder/id1077840209?mt=12"><img src="images/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="uses">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Unlimited Uses, Unlimited Fun</h2>
          <p class="text-muted">Check out what you can do with this app!</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-social-github text-primary"></i>
                    <h3>Demonstrate UX</h3>
                    <p class="text-muted">Ready to use Gifs of your work, no other software required!</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-social-reddit text-primary"></i>
                    <h3>Social Media</h3>
                    <p class="text-muted">Show the world what you got!</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature-item">
                    <i class="icon-paper-clip text-primary"></i>
                    <h3>Blogs and Presentations</h3>
                    <p class="text-muted">Use a Gif to show more context and help explain things better!</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-screen-desktop text-primary"></i>
                    <h3>Show anything on your desktop</h3>
                    <p class="text-muted">Videos, text, drawings, games!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-trophy text-primary"></i>
                    <h3>Get Stuff Done</h3>
                    <p class="text-muted">Get more done and show off your skills!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start Making Gifs.</h2>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>We<i class="fa fa-heart"></i>new friends!</h2>
        <a target="_blank" class="twitter-timeline" href="https://twitter.com/gifableApp?ref_src=twsrc%5Etfw">Tweets by gifableApp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2020 Gifable</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="css/jquery/jquery.min.js"></script>
    <script src="css/popper/popper.min.js"></script>
    <script src="css/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="css/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="css/new-age.min.js"></script>

  </body>

</html>
